*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/markdown.xml

/wear/release/
/mobile/release/
/wear/default/release/
/wear/backoverride/release/
/mobile/default/release/
/mobile/backoverride/release/
